# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

*.zip
*.csv
/All_journeys_29thApr-26thMay.zip
/All_stations.csv
/filenames.csv
/total_cycle_touchpoints.csv
